body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  
  
  .card{
    background-color:#7955487d;
    width: 296px;
    border: 5px solid black;
    padding: 4px;
    margin: 673px;
    height: 31px;
    margin-top: -3%;
  }
  .card1{
      background-color:#61dafb;
      width: 1778px;
      border: 5px solid black;
      padding: 9px;
      margin: -11px;
      height:65px;
      margin-top: 0%;
  }
  
  .card3{
    background-color: #673ab79c;
    width: 349px;
    border: 5px solid black;
    padding: 4px;
    margin: 7px;
    height:29px;
    margin-top: -85%;
  }
  
  .card-header{
    color:rgb(8,8,8);
    padding:0px;
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
  }
  .text1{
    color:rgb(8,8,8);
    padding:0px;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin-top: -40px;
  
  }
  .Symbol{
    margin:5px;
    background-image: url('https://png.pngtree.com/png-vector/20190223/ourmid/pngtree-plus-vector-icon-png-image_696412.jpg');
      background-size:cover;
      height:3vh;
      width: 10%;
      background-repeat:no-repeat;
      overflow:hidden;
      padding: 5px;
      margin-top: -3px;
  }
  
  
  #kri{
    text-align: center;
    font-size: 20px;
  }
  .krish{
    font-size: 50px;
  }
  
  
  
  #chi1
    {
      color:rgb(8, 8, 8);
      padding:9px;
      border-radius:10px;
      border:4px solid black;
      margin-inline: -43px;
      margin-top: -1px;
      font-size: 20px;
      font-weight:bolder;
      text-align: center;
    
    }
  #chi2
    {
      color:rgb(8, 8, 8);
      padding:9px;
      border-radius:10px;
      border:4px solid black;
      margin-inline: -43px;
      margin-top: 51px;
      font-size: 20px;
      font-weight:bolder;
      text-align: center;
    }
  #chi3
    {
      color:rgb(8, 8, 8);
      padding:9px;
      border-radius:10px;
      border:4px solid black;
      margin-inline: -43px;
      margin-top: 51px;
      font-size: 20px;
      font-weight:bolder;
      text-align: center;
    }  
    
    .div5 {
      background-color: rgba(0, 110, 255, 0.418);
    border-radius: 25px;
    width: 210px;
    height: 238px;  
    padding: 65px;
    border: 3px solid rgb(17, 17, 17);
    margin:599px;
    margin-top: 36px;
    }
    
    .hr4 {
      border-top: 2px solid rgb(20, 20, 20);
    width:163%;
    margin-left:-32%;
    }
    
   
    .div6 {
      background-color: rgba(0, 110, 255, 0.418);
    border-radius: 25px;
    width: 210px;
    height: 238px;  
    padding: 65px;
    border: 3px solid rgb(17, 17, 17);
    margin: 955px;
    margin-top: -665px;
    }
    
    .hr5 {
      border-top: 2px solid rgb(20, 20, 20);
    width: 163%;
    margin-left:-32%;
    }
    .div7 {
      background-color: rgba(0, 110, 255, 0.418);
    border-radius: 25px;
    width: 210px;
    height: 238px;  
    padding: 65px;
    border: 3px solid rgb(17, 17, 17);
    margin: 1312px;
    margin-top: -1639px;
    }
    
    .hr6 {
      border-top: 2px solid rgb(20, 20, 20);
    width:163%;
    margin-left:-32%;
    }
    .c4
      {
        color:rgb(8, 8, 8);
        padding:9px;
        margin-inline: -43px;
        margin-top:-68px;
        font-size: 20px;
        font-weight:bolder;
        text-align: center;
      }
    .c5
      {
        color:rgb(8, 8, 8);
        padding:9px;
        margin-inline: -43px;
        margin-top:-68px;
        font-size: 20px;
        font-weight:bolder;
        text-align: center;
      }
    .c6
      {
        color:rgb(8, 8, 8);
        padding:9px;
        margin-inline: -43px;
        margin-top:-68px;
        font-size: 20px;
        font-weight:bolder;
        text-align: center;
      }
    .button3{
      border-radius: 25px;
    background-color: #4fd153; 
    border: none;
    color: white;
    padding: 17px 3px;
    text-align: center;
    text-decoration:solid;
    display: inline-block;
    font-size: 24px;
    margin: 443px;
    margin-top: -945px;
    height: 56px;
    width: 214px;
    cursor: pointer;
    }
    .button4{
      border-radius: 25px;
    background-color: #673ab79c;
    border: none;
    color: white;
    padding: 20px 3px;
    text-align: center;
    text-decoration:solid;
    display: inline-block;
    font-size: 20px;
    margin: 1463px;
    margin-top: -2px;
    height:59px;
    width: 214px;
    cursor: pointer;
    }
   
   
    
    .Mycontainer{
      background-image: url('https://sgmh.org/wp-content/uploads/2017/11/1.jpg');
      background-size:cover;
      height:96vh;
      width: 98%;
      background-repeat:no-repeat;
      overflow:hidden;
      padding: 15px;
    }